*{
    background-color: aliceblue;
}
#input{
    height:30px;
    width:220px;
    background-color: rgb(231, 202, 191);
    color:black;
    font-size: large;
    font-weight: 500;    
    border: solid rgb(231, 202, 191) 2px;   
    border-radius: 15px;
    padding:4px;
    position: absolute;
    top:15px;
    left:10px;

}
#addfriend{
    height:41.2px;
    width:120px;
    background-color: rgb(231, 202, 191);
    color:black;
    font-size: large;
    font-weight: 500; 
    border: solid rgb(231, 202, 191) 2px;   
    border-radius: 15px;
    padding:4px;
    position: absolute;
    top:15px;
    right:20px;

}
#incomingheading{
    position:absolute;
    top: 70px;
    left: 10px;
    color: black;
    font-size: large;
    font-weight: 500; 

}
#incoming{
    height:90px;
    width:90%;
    background-color: rgb(231, 202, 191);
    color:black;
    position: absolute;
    border-radius: 15px;
    top: 100px;
    left:10px;
    padding:5px;
}
#circle{
    height:60px;
    width:60px;
    border-radius: 50%;
    position: absolute;
    top:10px;
    bottom: 5px;
    left: 10px;
    background-color: white;
    color: black;
    font-size: xx-large;
    text-align:center;
    font-weight: 600;
    padding-top: 15px;
    
}
#name_sid{
    height:70px;
    width:180px;
    font-size: larger;
    color: black;
    font-weight: 400;
    position: absolute;
    top:20px;
    left: 25%;
    padding:5px;
    background-color:rgb(231, 202, 191);
}
#accept{
    width:32px;
    height:38px;
    border:2px solid rgb(231, 202, 191);
    border-radius: 10px;
    background-color: rgb(231, 202, 191);
    color:rgb(32, 121, 0);
    font-size: xx-large;
    font-weight: 600;
    text-align: center;
    padding: 2px;
    position:absolute;
    margin-right: 3px;
    top:23px;
    right:50px;
}
#ignore{
    width:32px;
    height:38px;
    border:2px solid rgb(231, 202, 191);
    border-radius: 10px;
    background-color: rgb(231, 202, 191);
    border-radius: 15px;
    color:rgb(144, 4, 4);
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    padding: 2px;
    position:absolute;
    top:23px;
    right:8px;  
}
