#back{
 
    position:fixed;
    margin-top: 20px;
    height:25px;
    width:22px;
    background-image: url("images.png");
    background-size: contain;
}
#name{
 
    text-decoration: none;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position:fixed;
    margin-top:40px;
}
#save{
    
    position:absolute;
    right:60px;
    margin-top: 24px;
    height:30px;
    width:22px;
    background-image: url("bookmark-regular.svg");
    background-size: cover;
}
#options{
    
    position:absolute;
    right:20px;
    margin-top: 24px;
    height:30px;
    width:8px;
    background-image: url("ellipsis-vertical-solid.svg");
    background-size: contain;
}
#item1{
    
    position:absolute;
    font-family: Arial, Helvetica, sans-serif;
    top:150px;
    height:200px;
    width:500px;
}
#veglogo{
    display:inline-block;
    position:absolute;
    top:100px;
    left:5px;
    height:25px;
    width:25px;
    background-image: url("veg1-png.png");
    background-size: contain; 
}
#burger{
    display:inline-block;
    position:absolute;
    border-radius: 15px;;
    top:100px;
    right:10px;
    height:180px;
    width:190px;
    background-image: url("tandooriburger.jpg");
    background-size: cover;
}
#para1{
    position:absolute;
    width:275px;
    border-color: grey;;
    font-size: 20px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin-right:15px;
}
#sep{
    position:absolute;
    width:500px;
    top:140px;
    border:2px dotted gray;
}
#searchbox{
    position:fixed;
    bottom: 15px;
    left:30px;
    font-size: 20px;
    height:40px;
    width: 300px;
    border-style:thin;
    border-color:black;
    border-radius: 13px;
    background-color: lavender;
}
#footerdiv{
    position: fixed;
    height: 100px;
}
#menu{
    position:fixed;
    bottom:10px;
    color:white;
    background-color: black;
    margin-right: 18px;
    font-size: 30px;
    height:50px;
    width: 105px;
    border-color: black;
    border-radius: 13px;
    background-color: black;
    right:5px;
}

#search{
    position:absolute;
    left:5px;
    bottom:25px;
}
